<div class="container" style="height:100%">
  <h5 class="" style="margin-top:2rem">Dashboard</h5>

  <div class="row" style="margin-top:10rem">
    <div class="col">
      <%= link_to "Meios de pagamento", admin_payment_methods_path, class: "h5" %>
    </div>
    <div class="col">
      <%= link_to "Gerenciar clientes", admin_companies_path, class: "h5" %>
    </div>
    <div class="col">
      <p class="h5">outros</p>
    </div>
  </div>
</div>


