<div class="container d-flex align-items-center justify-content-center" style="height:100%">
  <div class="row align-items-center justify-content-center">
    <div class="col">
      <a href="#">
        <p class="h5">Meios de pagamentos</p>
      </a>
    </div>
    <div class="col">
      <a href="">
        <p class="h5">Gerenciar clientes</p>
      </a>
    </div>
    <div class="col">
      <p class="h5">outros</p>
    </div>
  </div>
</div>


