<div class="container">
  <h5 class="my-5">Dashboard</h5>

  <div class="row my-5">
    <div class="col">
      <%= link_to "Meios de pagamento", admin_payment_methods_path, class: "h5" %>
    </div>
    <div class="col">
      <%= link_to "Gerenciar clientes", admin_companies_path, class: "h5" %>
    </div>
    <div class="col">
      <p class="h5">outros</p>
    </div>
  </div>
</div>
