<div class="container" style="height:100%;">
    <h5 style="margin-top:2rem">Dashboard de clientes</h5>
    <%= link_to "Voltar", :back, class: "btn btn-primary btn-sm btn-warning" %>
   <div class="d-flex align-items-end" style="margin-top:1rem;">
        <table class="table table-striped table-hover" style="overflow-y:scroll;">
              <thead>
                <tr class="table-info">
                    <th scope="col">Nome</th>
                    <th scope="col">Cadastro</th>
                    <th scope="col">Histórico cadastral</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody>
                <% if @companies.any? %>
                    <% @companies.each do |company| %>
                        <tr>
                            <td><%= link_to company.fantasy_name, admin_company_path(company) %></td>
                            <td><%= company.status %></td>
                            <td><a href="#">Baixar</a></td>
                            <td><%= link_to '✏️', edit_admin_company_path(company) %></td>
                        </tr>
                    <% end %>
                <% else %>
                    <tr>
                        <td colspan="6" class="text-danger">Nenhum cliente dísponivel</td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>