<a href="<%= client_root_path %>">
  <h1 class="h1">Ãrea do Cliente</h1>
</a>
<div class="d-flex justify-content-center align-items-center position-absolute end-0">
  <p><%= current_client.email %></p>
  <%= button_to "Sair", destroy_client_session_path, type: :button, method: :delete, class: "btn btn-danger ms-2"%>
</div>