<nav class="navbar navbar-light d-flex justify-content-around">
    <img src="" alt="">
    <h1 style="text-align:center;" class="text-center">Bem vindo ao PayNow</h1>

    <div class="">
        <button class="btn btn-primary me-md-2" type="button">Entre</button>
        <button class="btn btn-primary" type="button">Crie sua conta</button>
    </div>
</nav>

<p>Receba pagamentos, e resolva suas finanças em um só lugar</p>
<p>Venda com mais meios de pagamento e tenha seu dinheiro na hora</p>

<footer class="" style="bottom:0;">
    <%= link_to 'Área do admin', new_admin_session_path, method: :get, class: "btn btn-primary", style: "" %>
</footer>