<div class="container" style="height:100%">

  <div class="row" style="margin-top:10rem">
    <div class="col">
        <p class="h5">Sua empresa já é parceira Paynow?</p>
        <a href="#" class="h5">
            <%= image_tag "services-2.png" %><br>
            Sim, sou parceiro Paynow 
        </a>
    </div>
    <div class="col">
        <p class="h5">Quer tornar sua empresa um parceiro Paynow?</p>
        <a href="<%= register_companies_path %>" class="h5">
            <%= image_tag "services-1.png" %><br>
            Sim, quero ser parceiro Paynow
        </a>
    </div>
  </div>
</div>