<section class="container d-flex align-items-center justify-content-center" >
  <div class="row d-flex align-items-center justify-content-center w-75 h-50">
    <div class="col d-flex flex-column align-items-center justify-content-center">
      <a href="<%= new_client_session_path %>">
        <%= image_tag "services-2.png" %>
      </a>
      <h5>Sou parceiro Paynow</h5> 
    </div>
    <div class="col d-flex flex-column align-items-center justify-content-center">
      <a href="<%= register_companies_path %>">
        <%= image_tag "services-1.png" %>
      </a>
      <h5>Quero ser parceiro Paynow</h5>
    </div>
  </div>
</section>