<div class="container">
    <h5 style="margin-top:2rem">Cadastrar forma de pagamento</h5>
    <%= link_to "Voltar", :back , class: "btn btn-primary btn-sm btn-warning"%>
    <div class="d-flex flex-column align-items-center justify-content-center card" style="min-width:499px;min-height:380px;margin-top:1rem">
    <%= p params %>
        <%= form_with  do |form| %>
            <dl>
            </dl>
            <%#= form.submit t('.submit'), class: 'btn btn-success' %>
        <% end %>
    </div>
</div>